In [1]:
loop = 0
while loop < 5:
    print('Bhargavi')
    loop = loop + 1

Bhargavi
Bhargavi
Bhargavi
Bhargavi
Bhargavi

In [22]:
n=int(input("enter the value of n:"))
i=1
while i<=n:
    if i%2==0:
        print(i, end=' ')
    i+=1

enter the value of n: 2

2

In [15]:
#print sum of first n natural numbers n=10, output:55
sum=0
i = 1
n=int(input("enter the value of n:"))
while i<=n:
    sum+=i
    i+=1
print("total:",sum)

enter the value of n: 22

total: 253

In [24]:
#Printing Numbers in a Range:
#Using a for loop:

# Prints numbers from 0 to 4
for i in range(5):
    print(i)

# Prints numbers from 2 to 7
for i in range(2, 8):
    print(i)

# Prints even numbers from 0 to 10 (step of 2)
for i in range(0, 11, 2):
    print(i)

0
1
2
3
4
2
3
4
5
6
7
0
2
4
6
8
10

In [26]:
#Using a while loop:
# Prints numbers from 0 to 4
count = 0
while count < 5:
    print(count)
    count += 1

# Prints numbers from 2 to 7
num = 2
while num <= 7:
    print(num)
    num += 1

0
1
2
3
4
2
3
4
5
6
7

In [28]:
#Iterating Through a List:

#Using a for loop:

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
    
#Using a while loop:

fruits = ["apple", "banana", "cherry"]
index = 0
while index < len(fruits):
    print(fruits[index])
    index += 1

apple
banana
cherry
apple
banana
cherry

In [30]:
#Calculating the Sum of Numbers:

#Using a for loop:

numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

#Using a while loop:

numbers = [1, 2, 3, 4, 5]
total = 0
i = 0
while i < len(numbers):
    total += numbers[i]
    i += 1
print("Sum:", total)

Sum: 15
Sum: 15

In [32]:
#Finding the Largest Number in a List:

#Using a for loop:

numbers = [10, 5, 20, 8, 15]
largest = numbers[0]  # Assume the first number is the largest initially
for num in numbers:
    if num > largest:
        largest = num
print("Largest:", largest)

#Using a while loop:

numbers = [10, 5, 20, 8, 15]
largest = numbers[0]
i = 1
while i < len(numbers):
    if numbers[i] > largest:
        largest = numbers[i]
    i += 1
print("Largest:", largest)

Largest: 20
Largest: 20

In [34]:
#Printing a Pattern:

#Using nested for loops:

rows = 5
for i in range(rows):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [36]:
#reverse the  digit number 
#using while loop

num=int(input("enter the value of n:"))
rev=0
print(num)
while num>0:
    d=num%10
    rev=rev*10+d
    num//=10
print(rev)

enter the value of n: 123456789

123456789
987654321

In [38]:
n=1230
while n!=0:
    t=n%10
    print(t,end=' ')
    n//=10

0 3 2 1